body {margin-top: 50px;
    margin: 25px;
    margin-bottom: 20px;
    background-color: hsl(202, 84%, 83%);
    overflow: scroll;
}

#div1 {
    background:"/dengue-uv.png";
    /* bgproperties"fixed"; */
    background-color:rgb(228, 245, 252);
    /* display:inline-block; */
    width: 720px;
    height: 540px;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    /* color: white; */
    text-align: left;
    /* line-height: 540px; */
}

#div2 {
    background-color: hsl(202, 84%, 83%);
    width: 720px;
    height: 190px;
    align-items: center;
}